.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}
.radio-box {
  display: inline-block;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

button {
  padding: 5px 10px;
  border-radius: 30px;
}